name: ci

on: [push]

env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_NOLOGO: true

jobs:
  compile:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - uses: actions/checkout@master

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x

      - name: Print .NET info
        run: dotnet --info

      - name: Install tools
        run: dotnet tool restore

      - name: Restore dependencies
        run: dotnet restore src/Samsara.Net/Samsara.Net.csproj

      - name: Build Release
        run: dotnet build src/Samsara.Net/Samsara.Net.csproj -c Release --no-restore

  unit-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x

      - name: Print .NET info
        run: dotnet --info

      - name: Install tools
        run: |
          dotnet tool restore

      - name: Restore dependencies
        run: dotnet restore src/Samsara.Net.Test/Samsara.Net.Test.csproj

      - name: Build Release
        run: dotnet build src/Samsara.Net.Test/Samsara.Net.Test.csproj -c Release --no-restore

      - name: Run Tests
        run: dotnet test src/Samsara.Net.Test/Samsara.Net.Test.csproj -c Release --no-build --no-restore


