name: Release Samsara.NET SDK

on:
  workflow_dispatch:
  workflow_call:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 8.x

      - name: Publish to NuGet
        env:
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
        run: |
          dotnet pack src/Samsara.Net -c Release
          dotnet nuget push src/Samsara.Net/bin/Release/*.nupkg --api-key="$NUGET_API_KEY" --source="https://api.nuget.org/v3/index.json"
